*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
body{
    background-color: #aff0e4;
}
img{
    position:absolute;
    border:none;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    height:20%;
}